body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100vh;
}

form {
    padding: 1rem;
}

h1 h2 h3 h4 h5 h6 {
    color: #333;
}

.header {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 6px #ddd;
}

.shadow {
    box-shadow: 0px 4px 6px #ddd;
}

.border {
    border: 1px solid #333;
}

.padding {
    padding: 1rem;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
}

.footer p {
    color: #ddd;
    margin: 0;
}

.text-center {
    text-align: center;
}

.full-height {
    height: 100vh;
}

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}

.navbar-nav {
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 0 1em;
    margin: 0;
}

.navbar-nav li {
    margin: 1em 1em;
    list-style: none;
    text-transform: uppercase;
}

.navbar-nav li a:link {
    color: #333;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar-nav li a:visited {
    color: #333;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar-nav li a:hover {
    color: #111;
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
}

 /* chart */
.chart {
    background: conic-gradient(#32BBF4 0 8%, #333333 0);
    border-radius: 50%;
    width: 50%;
    height: 0;
    padding-top: 50%;
    float: left;
    padding-right: 20px;
}

.key {
    width: 50%;
    float: right;
    list-style: none;
    display: table;
    border-collapse: separate;
}

.key>li {
    display: table-row;
}

.key>li>* {
    display: table-cell;
    border-bottom: 12px solid #fff;
}

.percent {
    color: #fff;
    padding: 10px 2px;
    text-shadow: 0 0 1px #000;
    text-align: center;
}

.choice {
    padding-left: 10px;
}

.red {
    background: #f15854;
}

.gray {
    background: #4d4d4d;
}

.blue {
    background: #5da5da;
}

.yellow {
    background: #decf3f;
}

.purple {
    background: #b276b2;
}

.orange {
    background: #faa43a;
}

* {
    box-sizing: border-box;
}

a:hover{
    cursor: pointer;
}

.margin{
    margin: 0px;
}

.toright{
    padding-left: 70%;
}

.flex{
    display: flex;
}

.bordergrey{
    border-color: rgb(87, 87, 87);
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 3px;
    margin-right: 8px;
    margin-left: 8px;
}

a{
    color: black;
}

.boxsize{
    padding-top: 20px;
    padding-bottom: 20px;
}

.espace{
    padding-top: 20px;
    padding-bottom: 20px;
}

.margleft{
    margin-left: 60px;
}

.maxw{
    max-width: 100%;
    word-wrap: break-word
}

.pousserletrucenbas{
    margin-bottom: 70px;
}

img{
    width: 100px;
    height: 100px;
}

.paddtop{
    padding-top: 20px;
}

.paddleft{
    padding-left: 5px;
}

.toleft{
    padding-left: 7%;
}

.tomiddle{
    padding-left: 25%;
}

.paddbottom{
    padding-bottom: 90px;
}

.absolute{
    position: absolute
}

.paddingbox{
    padding-top: 15px;
    padding-bottom: 15px;
    width: 50%;
}

.break{
    word-wrap: break-word;
}


/* media queries */
@media (max-width: 600px) {
    .navbar{
        flex-direction:column;
        justify-content: start;
        align-content:flex-start;
    }

    .navbar-nav{
        flex-direction:column;
        margin: 0;
        justify-content: start;
        align-items:flex-start;
    }

    .navbar-nav li {
        margin: 0 1em;
    }

    .column {
        margin-bottom: 1rem;
    }

    .toright{
        padding-left: 30%;
    }

    form{
        min-width: 95%;
        height: auto;
    }

    .marginright{
        margin-right: 3px;
    }

    .margleft{
        margin-left: 0px;
    }

    h1{
        font-size: 25px;
    }

    .espaceenbas{
        margin-bottom: 40px;
    }

    .marglefttl{
        margin-left: 25px;
    }

    .row{
        display: table-row;
    }

    .tomiddletl{
        padding-left: 27px;
    }

    .bordergrey{
        visibility: hidden;
    }
}